.communication-summary {

  $border-colour: #bfc1c3;

  &__body {
    border: 1px solid $border-colour;
  }

  &__row {
    border: 1px solid $border-colour;
  }

  &__key {
    color: #6f777b;
    font-weight: 400;
    padding: 1rem;
    text-align: left;
  }

  &__value {
    padding: 1rem;
  }

  &__placeholder {
    background: #fd0;
  }

  &__recipient-list .govuk-details {
    margin-bottom: 0;
  }
}