.communication-summary {

  $border-colour: govuk-colour("mid-grey");
  $padding: govuk-spacing(4);

  &__body {
    border: 1px solid $border-colour;
  }

  &__row {
    border: 1px solid $border-colour;
  }

  &__key {
    color: govuk-colour("dark-grey");
    font-weight: 400;
    padding: $padding;
    text-align: left;
  }

  &__value {
    padding: $padding;
  }

  &__placeholder {
    background: govuk-colour("yellow");
  }

  &__recipient-list .govuk-details {
    margin-bottom: 0;
  }
}